PORT=3001
CSV_FOLDER_PATH=./files/pisco-1
TERRA_CHAIN_ID=pisco-1
TERRA_LCD_URL=http://18.194.243.144:1317
TERRA_GAS_PRICE=0.15uluna
TERRA_MNEMONIC=satisfy adjust timber high purchase tuition stool faith fine install that you unaware feed domain license impose boss human eager hat rent enjoy dawn
TERRA_AIRDROP_CONTRACT=terra14ndv8nk52sae0h5z03aw0kfs6lyquyztqa5qq2aey4x57zjy0gcqgmjjcf
ETH_AIRDROP_CONTRACT=terra16jlz90q4wrz5lr77fhqrnrnmtzl666qusswfenlkw46c627ecywqzy2ef8
AVAX_AIRDROP_CONTRACT=terra1rwr3g5u4xpshx03qh0v58vv052zg7ukpwgx64a7lkj8qdw4c5lasmlk4cr
FANTOM_AIRDROP_CONTRACT=terra17qegfpx6r39ujrh5mfhudje36xzqwlcs9lf7sraaa4va0uwtke2sk8fmn7
POLYGON_AIRDROP_CONTRACT=terra1xc4rf7fje89zpqwvkj9hznz8ell6z6yr8wcgwjpuf44xy6hd7j6slgeqge
BSC_AIRDROP_CONTRACT=terra1zmdjcatvmt0wkrcs7nncve46jjmqqjghya8fp9c50wgnl7r5dm2suh8xmq
CRONOS_AIRDROP_CONTRACT=terra1lu20s4j9fk0z3wp9q0p93trla2eh320fmq2zms3jdzfg2xancvfqr7snth
KAVA_AIRDROP_CONTRACT=terra1zcexj4rwafphucn2rps6hj94zjd33wc72qezdfzd0240v8mvhg4su3r4nf
INJECTIVE_AIRDROP_CONTRACT=terra1jk49uhyxwnekx7q9ln29hm66wuj552dk9th5d43kcknerk2m36hqpp6c05