.AppHeader {
    flex-direction: row !important;
    align-items: center;
    background-color: inherit !important;
    overflow-x: auto;
    overflow-y: hidden;

    .AppLink {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;

        .AppTitle {
            margin: 1.6em 1.6em 1.6em 0.8em;
            font-size: 1.2em;
            min-width: 85px;
        }

        .AppLogo {
            margin-left: 1em;
            min-height: 32px;
            min-width: 32px;
        }
    }

    .StepperWrapper {
        display: flex;
        flex-grow: 1;
        margin: 0 4em 0 4em;
    }

    @media only screen and (max-width: 500px) {

        .AppLink {
            
            .AppTitle {
                margin: 1em;
                font-size: 1em;
            }

            .AppLogo {
                margin-left: 1em;
                min-height: 24px;
                min-width: 24px;
            }
        }

        .StepperWrapper {
            margin: 8px;
        }
    }
}