.AppHeader {
    flex-direction: row !important;
    align-items: center;
    padding: 0 1em;

    .AppTitle {    
        margin: 1.6em 2em 1.6em 0.8em;
        font-size: 1.2em;
    }

    .AppLogo {
        margin-left: 1em;
    }

    .StepperWrapper {
        display: flex;
        flex-grow: 1;
        
    }
}