.AppHeader {
    flex-direction: row !important;
    align-items: center;
    padding: 0 1em;

    .AppTitle {    
        margin: 1.6em 2em 1.6em 1em;
    }

    .StepperWrapper {
        display: flex;
        flex-grow: 1;
        
    }
}